@model Car

<div class="col-lg-4">
    <h2>@Model.Name</h2>
    <p>@Model.LongDescription</p>
    <p>@Model.Price.ToString("c")</p>
    <p><a class="btn btn-warning" href="#">Подробнее</a></p>
    <p><a class="btn btn-success" href="#">Добавить в корзину</a></p>
</div>